<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Entity</title>
</head>
<body>
<h1>Edit Entity</h1>
<form method="POST" action="/entities/edit/{{.ID}}">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="{{.Name}}" required><br>
    <input type="submit" value="Edit">
</form>
</body>
</html>
