<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Entities</title>
</head>
<body>
<h1>List Entities</h1>
<a href="/entities/create">Create Entity</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>
            <a href="/entities/edit/{{.ID}}">Edit</a>
            <a href="/entities/delete/{{.ID}}">Delete</a>
        </td>
    </tr>
    {{end}}
</table>
</body>
</html>